.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img {
  width: 500px;
  padding: 20px;
  margin: auto;
}

.input {
  font-size: 20px;
  margin: auto;
  padding: 20px;
}

.button {
  font-size: 20px;
  padding: 20px;
  margin: auto;
}